@{
    ViewData["Title"] = "Sign Up";
}

@model Zap.Models.SignUpUserModel?

<header id="header-background">
    <h1 class="display-4">Sign Up</h1>
</header>

@if (Model != null && Model.State == SignUpUserModel.ActionState.DuplicateUserName)
{
    <p id="login-error-box">
        <span class="screen-reader-only">Error:</span>
        That email address is already in use. Please try another email.
    </p>
}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <form asp-action="Signup" method="post" class="form-horizontal form-block">
            <div class="form-block-content">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" type="text" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" type="text" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-block-footer">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>