@{
    ViewData["Title"] = "Login";
}

@model Zap.Models.SignInModel

<header id="header-background">
    <h1 class="display-4">Login</h1>
</header>

@if (!Model.IsValid)
{
    <p id="login-error-box">
        <span class="screen-reader-only">Error:</span>
        Your email address and/or password was not recognized.
    </p>
}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <form asp-action="SignIn" class="form-horizontal form-block">
            <div class="form-block-content">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" type="text" id="emailEntry" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" id="passwordEntry" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-block-footer">
                <input id="submit" type="submit" value="Login" class="btn btn-primary" asp-action="SignIn" asp-controller="Account" />
            </div>
        </form>
    </div>
</div>
